<%= form_for(drug) do |f| %>
  <% if drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :reconstitution %>
  <%= f.text_field :reconstitution %>
  <%= f.label :notes %>
  <%= f.text_field :notes %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
